{%
  set body_classes = [
   'fix-header', 'fix-sidebar', 'card-no-border',
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}


<!DOCTYPE html>
<html{{ html_attributes }}>

    <head>
        <head-placeholder token="{{ placeholder_token|raw }}">
            <title>{{ head_title|safe_join(' | ') }}</title>
            <css-placeholder token="{{ placeholder_token|raw }}">
                <js-placeholder token="{{ placeholder_token|raw }}">

                    <link href="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
                    <link href="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
                    <link href="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
                    <link href="themes/drupalanswers/templates/admin-wrap-lite-master/html/css/style.css" rel="stylesheet">
                    <link href="themes/drupalanswers/templates/admin-wrap-lite-master/html/css/pages/dashboard1.css" rel="stylesheet">
                    <link href="themes/drupalanswers/templates/admin-wrap-lite-master/html/css/colors/default.css" id="theme" rel="stylesheet">
    </head>

    <body{{ attributes.addClass(body_classes) }}>


        <a href="#main-content" class="visually-hidden focusable skip-link">
            {{ 'Skip to main content'|t }}
        </a>
        {{ page_top }}
        {{ page }}
        {{ page_bottom }}

        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/jquery/jquery.min.js"></script>
            <!-- Bootstrap popper Core JavaScript -->
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/bootstrap/js/popper.min.js"></script>
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
            <!-- slimscrollbar scrollbar JavaScript -->
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/html/js/perfect-scrollbar.jquery.min.js"></script>
            <!--Wave Effects -->
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/html/js/waves.js"></script>
            <!--Menu sidebar -->
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/html/js/sidebarmenu.js"></script>
            <!--Custom JavaScript -->
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/html/js/custom.min.js"></script>
            <!-- ============================================================== -->
            <!-- This page plugins -->
            <!-- ============================================================== -->
            <!--morris JavaScript -->
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/raphael/raphael-min.js"></script>
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/morrisjs/morris.min.js"></script>
            <!--c3 JavaScript -->
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/d3/d3.min.js"></script>
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/assets/node_modules/c3-master/c3.min.js"></script>
            <!-- Chart JS -->
            <script src="themes/drupalanswers/templates/admin-wrap-lite-master/html/js/dashboard1.js"></script>
            </body>

            </html>
